{% extends 'base.html' %}
{% block title %}Добавить норму СИЗ{% endblock %}
{% load static %}

{% block content %}
<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-md-6 p-3">
      <div class="card">
        {% load user_filters %}
        {% include 'includes/messages.html' %}
        <div class="card-header text-center"><h5>Добавить норму СИЗ</h5></div>
        <div class="card-body">
          {% if form.errors %}
            {% for field in form %} 
              {% for error in field.errors %}            
                <div class="alert alert-danger">{{ error|escape }}</div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <!-- Единое поле для типа СИЗ -->
            <div class="form-group mb-4">
              <label for="{{ form.ppe_type_name.id_for_label }}">Тип СИЗ</label>
              {{ form.ppe_type_name|addclass:"form-control fixed-select" }}
              <small class="form-text text-muted">
                Введите название типа СИЗ. Пример: "Перчатки", "Каска"
              </small>
              {% if form.ppe_type_name.errors %}
                <div class="alert alert-danger mt-2">
                  {% for error in form.ppe_type_name.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <!-- Поле для количества -->
            <div class="form-group mb-4">
              <label for="{{ form.quantity.id_for_label }}">Количество</label>
              {{ form.quantity|addclass:"form-control fixed-select" }}
              <small class="form-text text-muted">
                Укажите количество
              </small>
            </div>

            <!-- Поле для срока годности -->
            <div class="form-group mb-4">
              <label for="{{ form.lifespan.id_for_label }}">Срок годности</label>
              {{ form.lifespan|addclass:"form-control fixed-select" }}
              <small class="form-text text-muted">
                Укажите срок использования в месяцах (пример: 12, 24)
              </small>
            </div>

            <div class="d-grid gap-2 mt-4 text-center">
              <button type="submit" class="btn btn-primary">Сохранить</button>
              <a href="{% url 'core:position_detail' position.id %}" class="btn btn-secondary">Отмена</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}