{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
    Редактировать СИЗ
  {% else %}
    Новый СИЗ
  {% endif %}
{% endblock %}
<body>
  <main>
    <div class="container py-5">
      {% block content %}
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              {% if is_edit %}
                Редактировать СИЗ
              {% else %}
                Новый СИЗ
              {% endif %}
            </div>
            <div class="card-body">
              {% load user_filters %}
              {% if form.errors %}
                  {% for field in form %} 
                    {% for error in field.errors %}            
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
              {% endif %}

              <form method="post" enctype="multipart/form-data"
                {% if is_edit %}
                  action="{% url 'items:item_edit' form.instance.pk %}">
                {% else %}
                  action="{% url 'items:item_create' %}">
                {% endif %}
                    
                {% csrf_token %}
                    
                <div class="form-group">
                  <label for="excelFile">Загрузите файл с СИЗ</label>
                  <input type="file" class="form-control-file" id="excelFile" name="excel_file" accept=".xlsx, .xls">
                  <div class="col-12">
                    <small id="fileHelp" class="form-text text-muted">Загрузите файл с СИЗ работника. Выгружается из SAP путем экспорта таблицы в формат xlsx. Необходимые колонки: 'Табельный номер', 'ФИО', 'Код группы СИЗ', 'Наименование группы СИЗ', 'Дата списания', 'Наименование ОС'.</small>
                  </div>

                  <label for="get_date_file">Загрузите файл карточки СИЗ</label>
                  <input type="file" class="form-control-file" id="getDateFile" name="get_date_file" accept=".xlsx, .xls">
                  <div class="col-12">
                    <small id="fileHelp" class="form-text text-muted">Загрузите файл карточки СИЗ для работника.</small>
                  </div>
                </div>

                <input type="hidden" name="form_name" value="file_upload_form">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    Загрузить файл
                  </button>
                </div>
              </form>
              
              <hr> <!-- Add a separator for visual distinction -->
              
              <form method="post"
                {% if is_edit %}
                  action="{% url 'items:item_edit' form.instance.pk %}">
                {% else %}
                  action="{% url 'items:item_create' %}">
                {% endif %}
                    
                {% csrf_token %}

                {% for field in form %}
                  <div class="form-person row my-3 p-3">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger" >*</span>
                      {% endif%}
                    </label>
                    {% if field.field.widget.input_type == 'date' %}
                      {{ field }}  <!-- The 'datepicker' and 'form-control' classes are already included -->
                    {% else %}
                      {{ field|addclass:'form-control' }}  <!-- Add 'form-control' to other fields -->
                    {% endif %}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small>
                    {% endif%}
                  </div>
                {% endfor %}
                
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    {% if is_edit %}
                      Сохранить
                    {% else %}
                      Добавить
                    {% endif %} 
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
    {% block scripts %}
      <script>
        $(function() {
          // Initialize the DatePicker with the new format
          $("#id_get_date, #id_last_review_date, #id_write_off_date").datepicker({
            dateFormat: 'dd.mm.yy', // Changed format to dd.mm.yyyy
            changeMonth: true,
            changeYear: true
          });
        
          // Attach a change event listener to your input field
          $("#id_get_date, #id_last_review_date, #id_write_off_date").on('change', function() {
            var inputVal = $(this).val();
            var parts = inputVal.match(/(\d{2})\.(\d{2})\.(\d{4})/); // Updated regex to match "dd.mm.yyyy" format
          
            if(parts) {
              // Parse the day, month, and year from the input
              var day = parseInt(parts[1], 10);
              var month = parseInt(parts[2], 10) - 1; // Subtract 1 because months are 0-indexed
              var year = parseInt(parts[3], 10);
              
              // Update the defaultDate option of the DatePicker
              // without changing the input value
              $(this).datepicker('option', 'defaultDate', new Date(year, month, day));
              $(this).datepicker('show'); // If you want to show the DatePicker immediately
            }
          });
        });
      </script>
    {% endblock %}
  </main>
</body>
