{% extends 'base.html' %}
{% block title %}Добавить норму для высотных работ{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Добавить норму для группы {{ group }}</div>
        <div class="card-body">

          {% if form.errors %}
            {% for field in form %} 
              {% for error in field.errors %}            
                <div class="alert alert-danger">{{ error|escape }}</div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <!-- Поле для типа СИЗ -->
            <div class="form-group mb-4">
                <label for="{{ form.ppe_type_name.id_for_label }}">Тип СИЗ</label>
                {{ form.ppe_type_name }}
                <small class="form-text text-muted">
                  Введите существующее название или создайте новое. Пример: "Привязь", "Каска"
                </small>
              </div>
  
              <!-- Поле для количества -->
              <div class="form-group mb-4">
                <label for="{{ form.quantity.id_for_label }}">Количество</label>
                {{ form.quantity }}
                <small class="form-text text-muted">
                  Укажите количество
                </small>
              </div>
  
              <!-- Поле для срока годности -->
              <div class="form-group mb-4">
                <label for="{{ form.lifespan.id_for_label }}">Срок годности</label>
                {{ form.lifespan }}
                <small class="form-text text-muted">
                  Укажите срок использования в месяцах (пример: 6, 12)
                </small>
              </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Сохранить</button>
              <a href="{% url 'core:height_group_detail' group.id %}" class="btn btn-secondary">Отмена</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}