{% extends 'base.html' %}

{% block title %}
  Детали работника
{% endblock %}

<style>
  .wider-table {
    max-width: 90%;
    margin: 0 auto;
  }
  .table-striped td {
    word-wrap: break-word; /* Перенос слов */
    white-space: normal; /* Перенос строк */
  }
</style>

{% block content %}
  <style>
    .wider-table {
      max-width: 90%;
      margin: 0 auto;
    }
  </style>
  <div class="container-fluid py-3 wider-table">
    <article>
      <div class="card-body">
        {% include 'includes/messages.html' %}
        <h2>Детали работника: {{ employee.last_name }} {{ employee.first_name }} {{ employee.patronymic }}</h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Должность</th>
              <th class="text-center">Группа по высоте</th>
              <th class="text-center">Подразделение</th>
              <th class="text-center">Размер спецодежды</th>
              <th class="text-center">Размер головного убора</th>
              <th class="text-center">Размер перчаток</th>
              <th class="text-center">Размер обуви</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">{{ employee.position }}</td>
              <td class="text-center">{{ employee.height_group|default:"-" }}</td>
              <td class="text-center">{{ employee.department }}</td>
              <td class="text-center">{{ employee.body_size }}</td>
              <td class="text-center">{{ employee.head_size }}</td>
              <td class="text-center">{{ employee.glove_size }}</td>
              <td class="text-center">{{ employee.shoe_size }}</td>
            </tr>
          </tbody>
        </table>

        {% if employee.position %}
          <h4>Нормы работника:</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Тип СИЗ</th>
                <th class="text-center">Требуется</th>
                <th class="text-center">Фактически</th>
                <th class="text-center">Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for norm in norms_status %}
                <tr>
                  <td style="word-wrap: break-word; white-space: normal;">{{ norm.ppe_type }}</td>
                  <td class="text-center">{{ norm.required }}</td>
                  <td class="text-center">{{ norm.actual }}</td>
                  <td class="text-center">{{ norm.status }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4">Нормы для должности не установлены.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-info">Должность не назначена. Нормы не определены.</div>
        {% endif %}

        <h4>Выданные предметы:</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Тип</th>
              <th class="text-center">Наименование</th>
              <th class="text-center">Размер</th>
              <th class="text-center">Дата выдачи</th>
              <th class="text-center">Дата списания</th>
            </tr>
          </thead>
          <tbody>
            {% for issue in issues %}
              <tr>
                <td style="word-wrap: break-word; white-space: normal;">{{ issue.ppe_type.name }}</td>
                <td>{{ issue.item_name }}</td>
                <td class="text-center">{{ issue.item_size }}</td>
                <td class="text-center">{{ issue.issue_date|date:"d.m.Y"|default_if_none:"" }}</td>
                <td class="text-center">{{ issue.expiration_date|date:"d.m.Y"|default_if_none:"" }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2">Нет выданных предметов.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <a href="{% url 'core:create_issue' employee_id=employee.id %}" class="btn btn-secondary">Выдать новый предмет</a>
        <a href="{% url 'core:employee_import_items' employee_id=employee.id %}" class="btn btn-secondary">Импорт из SAP</a>
        <a href="{% url 'core:edit_issues' employee_id=employee.id %}" class="btn btn-secondary">Редактировать предметы</a>
        <a href="{% url 'core:edit_employee' employee_id=employee.id %}" class="btn btn-secondary">Редактировать сотрудника</a>
        <!-- <a href="{% url 'core:quarterly_needs' employee_id=employee.id %}" class="btn btn-secondary">Посмотреть потребность СИЗ</a> -->
        <a href="{% url 'core:expiring_issues' employee_id=employee.id %}" class="btn btn-secondary">Сроки списания по кварталам</a>
      </div>
    </article>
  </div>
{% endblock %}
