{% extends 'base.html' %}

{% block title %}
  Список работников
{% endblock %}
{% load static %}

{% block content %}

  <div class="container-fluid py-3" style="max-width: 90%;">
    <article>
      <div class="card mt-4">
      <div class="card-body">
        {% include 'includes/messages.html' %}
        <a href="{% url 'core:employee_create' %}" class="btn btn-primary mb-3">Добавить работника</a>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Фамилия</th>
              <th class="text-center">Имя</th>
              <th class="text-center">Отчество</th>
              <th class="text-center">Должность</th>
              <th class="text-center">Подразделение</th>
              <!--<th>Размер спецодежды</th>
              <th>Размер головного убора</th>
              <th>Размер перчаток</th>
              <th>Размер обуви</th>-->
              <th class="text-center">Действия</th>
            </tr>
          </thead>
          <tbody>
          {% for employee in employees %}
            <tr>
              <td class="text-center">{{ employee.last_name }}</td>
              <td class="text-center">{{ employee.first_name }}</td>
              <td class="text-center">{{ employee.patronymic }}</td>
              <td class="text-center">{{ employee.position }}</td>
              <td class="text-center">{{ employee.department }}</td>
              <!--<td>{{ employee.body_size }}</td>
              <td>{{ employee.head_size }}</td>
              <td>{{ employee.glove_size }}</td>
              <td>{{ employee.shoe_size }}</td>-->
              <td class="text-center"><a href="{% url 'core:list_items' employee_id=employee.id %}" class="btn btn-primary">Посмотреть СИЗ</a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="9">Работники не найдены.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </article>
  </div>
{% endblock %}
