{% extends 'base.html' %}

{% block title %}
  {{ position.position_name }}
{% endblock %}

{% block content %}
<div class="container py-3">
  <div class="card">
    {% include 'includes/messages.html' %}
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Нормы для: {{ position.position_name }}</h4>
      <div class="action-buttons">
        <a href="{% url 'core:norm_create' position_id=position.id %}" class="btn btn-primary">
          Добавить норму
        </a>
        <a href="{% url 'core:sap_import' position_id=position.id %}" class="btn btn-primary">
          Импорт из SAP
        </a>
        <a href="{% url 'core:norm_edit' position.id %}" class="btn btn-primary">
          <i class="bi bi-pencil"></i> Редактировать нормы
        </a>
      </div>
    </div>
    
    <div class="card-body">
      <div class="card">
        <div class="text-center" style="margin-top: 5px;"><h5><b>Нормы средств индивидуальной защиты</b></h5></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Тип СИЗ</th>
              <th class="text-center">Количество</th>
            </tr>
          </thead>
          <tbody>
            {% for norm in position.norms.all %}
              <tr>
                <td>{{ norm.ppe_type.name }}</td>
                <td class="text-center">{{ norm.quantity }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2" class="text-center">Нормы выдачи не установлены</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card mt-4">
        <div class="text-center" style="margin-top: 5px;"><h5><b>Нормы смывающих средств</b></h5></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Тип средства</th>
              <th class="text-center">Норма расхода (мл/мес)</th>
            </tr>
          </thead>
          <tbody>
            {% for norm in flushing_norms %}
              <tr>
                <td>{{ norm.agent_type.name }}</td>
                <td class="text-center">{{ norm.monthly_ml }} мл</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2" class="text-center">Нормы моющих средств не установлены</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
